@import "utils/reset";
@import "utils/vars";
@import "button";
@import "wrapper";
@import "table";
@import "../components/Pagination/pagination";
@import "../containers/RandomUser/random-user";
@import "../styles/heading";

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
